* {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.background {
    width: 100%;
    height: 1022px;
    margin: 0 auto;
    background: url('../img/bg.jpg') repeat-x #1297b8;
}

.container {
    width: 1000px;
    height: 988px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: -9px 5px 9px -5px rgba(0, 0, 0, .3),
                 9px 5px 9px -5px rgba(0, 0, 0, .3),
                 0 4px 1px 0 rgba(0, 0, 0, .9);
}

.our-contacts {
    margin: 5px 23px 0;
    float: right;
    color: #128aa7;
    font: 13px/19px Tahoma;
}

.countries {
    margin: 30px 30px 0;
    float: right;
    clear: right;
}

.countries li {
    display: inline-block;
}

.countries a {
    display: block;
    width: 55px;
    margin-left: -3px;
    padding-top: 43px;
    background-repeat: no-repeat;
    background-position: center top;
    color: #128aa7;
    font: 10px Tahoma;
    text-align: center;
}

.india a {
    background-image: url('../img/i_flag.png');
}

.nepal a {
    background-image: url('../img/n_flag.png');
}

.tibet a {
    background-image: url('../img/t_flag.png');
}

.butane a {
    background-image: url('../img/b_flag.png');
}

.sri-lanka a {
    background-image: url('../img/s_flag.png');
}

.maldives a {
    background-image: url('../img/m_flag.png');
}

.logo {
    position: relative;
    height: 174px;
    padding: 1px 0 0 28px;
    float: left;
}

.logo img {
    padding-top: 10px;
}

.logo-text {
    position: absolute;
    top: 105px;
    left: 100px;
    color: #128aa7;
    font: 13px/20px Tahoma;
    letter-spacing: -.5px;
}

.photo {
    position: relative;
    width: 1000px;
    height: 237px;
    clear: both;
}

.photo-border {
    position: absolute;
    top: 0;
    left: 0;
    width: 998px;
    height: 235px;
    border: 1px solid #128aa7;
}

.main-menu {
    background: -moz-linear-gradient(top, rgba(202, 203, 203, 1) 0%, rgba(55, 55, 55, 1) 3%, rgba(48, 48, 48, 1) 85%, rgba(0, 0, 0, 1) 88%, rgba(0, 0, 0, .67) 91%, rgba(0, 0, 0, .5) 94%, rgba(0, 0, 0, .25) 97%, rgba(0, 0, 0, .08) 100%);
    background: -webkit-linear-gradient(top, rgba(202, 203, 203, 1) 0%, rgba(55, 55, 55, 1) 3%, rgba(48, 48, 48, 1) 85%, rgba(0, 0, 0, 1) 88%, rgba(0, 0, 0, .67) 91%, rgba(0, 0, 0, .5) 94%, rgba(0, 0, 0, .25) 97%, rgba(0, 0, 0, .08) 100%);
    background: linear-gradient(to bottom, rgba(202, 203, 203, 1) 0%, rgba(55, 55, 55, 1) 3%, rgba(48, 48, 48, 1) 85%, rgba(0, 0, 0, 1) 88%, rgba(0, 0, 0, .67) 91%, rgba(0, 0, 0, .5) 94%, rgba(0, 0, 0, .25) 97%, rgba(0, 0, 0, .08) 100%);
}

.main-menu>ul>li {
    display: inline-block;
    position: relative;
    height: 34px;
}

.main-menu a {
    color: #fff;
    font: 14px/30px Tahoma;
    text-decoration: none;
}

.main-menu img {
    padding-left: 1px;
}

.main {
    padding: 0 62px 0 67px;
}

.travel {
    padding-right: 49px;

}

.services {
    padding-right: 63px;
}

.partners {
    padding-right: 51px;
}

.reviews {
    padding-right: 67px;
}

.about-us {
    padding-right: 58px;
}

.contacts {
    padding-right: 60px;
}

.submenu {
    display: none;
    position: absolute;
    top: 31px;
    left: -9px;
    width: 150px;
    height: 114px;
    padding-bottom: 9px;
    background-color: #303030;
    box-shadow: -2px 0 5px 0 rgba(0, 0, 0, .3),
                2px 0 5px 0 rgba(0, 0, 0, .3),
                0 5px 7px 0 rgba(0, 0, 0, .9);
    z-index: 1;
}

.submenu a {
    display: block;
    padding: 3px 9px;
    color: #fff;
    font: 14px Tahoma;
    text-decoration: none;
}

.menu > li:hover >.submenu {
    display: block;
}

.bg-columns {
    position: relative;
    width: 1000px;
    float: left;
    background: url('../img/bg_columns.jpg') repeat-y;
}

.info-border-vert {
    position: absolute;
    top: 0;
    left: 0;
    width: 208px;
    height: 542px;
    border-right: 1px solid #c7cacf;
    border-left: 1px solid #c7cacf;
}

.info-border-hor {
    position: absolute;
    top: 147px;
    left: 0;
    width: 208px;
    height: 257px;
    border-top: 1px solid #c7cacf;
    border-bottom: 1px solid #c7cacf;
}

.news-border-vert {
    position: absolute;
    top: 0;
    left: 791px;
    width: 208px;
    height: 542px;
    border-right: 1px solid #c7cacf;
    border-left: 1px solid #c7cacf;
}

.news-border-hor {
    position: absolute;
    top: 291px;
    left: 0;
    width: 208px;
    height: 174px;
    border-top: 1px solid #c7cacf;
    border-bottom: 1px solid #c7cacf;
}

.info {
    position: relative;
    width: 210px;
    padding-bottom: 9px;
    float: left;
    overflow: hidden;
}

.content {
    position: relative;
    width: 580px;
    padding-bottom: 9px;
    float: left;
    overflow: hidden;
}

.news {
    position: relative;
    width: 208px;
    padding-bottom: 9px;
    float: left;
    overflow: hidden;
}

h2 {
    padding: 4px 0 3px;
    color: #424c43;
    font: bold 18px Tahoma;
    letter-spacing: -1px;
    text-align: center;
}

.info p,
.news p {
    padding-left: 16px;
    color: #424c43;
    font: 14px/24px Tahoma;
}

footer {
    padding: 9px;
    color: #fff;
    font: 12px Tahoma;
    text-align: center;
}
